<h1>Edit Song <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="POST">
<input type="hidden" name="_method" value="PATCH">
<h3>Name: <input type="text" name="song[name]" id="Name" value="<%= @song.name %>"></h3>
<h3>Artist Name: <input type="text" name="artist_name" id="Artist Name" value="<%= @song.artist.name %>"></p>
<h3>Select one or more genres:</h3>
<% @genres.each do |genre| %>
    <input type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>" id="<%= genre.name %>" <%= 'checked' if @song.genres.include?(genre) %>><%= genre.name %>
<% end %>
<input type="submit" name="Submit Changes" id="Save">
</form>